<% unless @tasks.blank? %>
<% @tasks.each do |task|  %>
<div class="col-sm-3">
  <h4>
    Title:<%= task.title %>
  </h4>
  <p>Description: <%= task.description %></p>
  <p>Due date: <%= task.due_date %></p>
  <div>
    <%= link_to "Edit", edit_task_path(task) %>
  </div>
	<div>
    <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: 'are you sure?'} %>
  </div>
</div>
<% end %>
<% else %>
<h3>
  No tasks todo
</h3>
<% end %>




